<% layout('layouts/boilerplate') -%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%=datas.image%>" class="card-img-top" alt="camp image">
      <div class="card-body">
        <h5 class="card-title"><%=datas.title%></h5>
        <h5 class="card-title text-muted"><%=datas.location%></h5>
        <p class="card-text"><%=datas.description%></p>
        <p class="card-text">$<%=datas.price%>/night</p>
        <a href="/campground" class="btn btn-success">Home</a>
        <form action="<%=datas.id%>?_method=delete" method="post" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a href="/campground/<%=datas.id%>/edit" class="btn btn-warning px-3">Edit</a>
      </div>
    </div>
    <form action="" class="mb-3">
      <div class="mb-3">
        <h2>Leave a review</h2>
        <label for="reviewRating" class="form-label">Rating</label>
        <input type="range" name="reviewRating" id="reviewRating" min="1" max="5" class="form-range">
      </div>
      <div class="mb-3">
        <label class="form-label" for="reviewComment">Comment</label>
        <textarea class="form-control" name="review" id="reviewComment" cols="30" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>




